
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #b03434; 
}


.todo-container {
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.even {
  background-color: #cfd8dc; 
}

.odd {
  background-color: #b0bec5; 
}

.todo-list li:hover {
  background-color: #90a4ae; 
  color: white; 
}
